name: lint

permissions: read-all

on:
  workflow_call:
    inputs:
      go:
        description: Go version
        default: 1.19
        required: false
        type: string

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true

    steps:
      - name: Checkout code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # latest

      - name: Install Go
        uses: actions/setup-go@84cbf8094393cdc5fe1fe1671ff2647332956b1a # latest
        with:
          go-version: ${{ inputs.go }}
          check-latest: true

      - name: Lint
        uses: golangci/golangci-lint-action@537aa1903e5d359d0b27dbc19ddd22c5087f3fbc # latest
        with:
          version: latest
          args: --timeout 5m
