name: vuln

permissions: read-all

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
  - cron: '0 10 * * 1'
  workflow_call:
    inputs:
      race:
        description: Enable Go race detector
        default: "-race"
        required: false
        type: string

jobs:
  run:
    name: Vuln
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: true
      matrix:
        go: ['1.20.x']

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
          check-latest: true

      - name: Install `govulncheck`
        run: go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: Run `govulncheck`
        run: govulncheck ./...
